.container{
    max-width: 940px;
    margin: 0 auto;
}
.png{
margin-top: 30px;
}
p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    max-width: 546px;
    color: #414141; 
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper1{
    display: flex;
    list-style-type: none;
    padding: 0;
}
a{
    color: #414141;
    text-decoration:none;
    margin-right: 18px;
    font-family: 'Open Sans', sans-serif;
}
.fab{
    background: white;
    color: #69A08A;
    margin: 16px;
}
footer{
    background: #F7F7F4;
}
.wrapper2{
    display: flex;
    justify-content: flex-end;
}
